ul > li > .active {
        color: orange !important;
        opacity: 1 !important;
}

.bg-dark {
    background-color: #252525 !important;
}

.btn-close {
    box-shadow: none !important;
    opacity: 1 !important;
}